###### xshokxmysqlhttps
  xshokxmysqlhttps:
    image: extremeshok/xmysql-https-auth:latest
    depends_on:
      - mariadb
      - xshokacmehttp
    volumes:
      - vol-certificates:/certs/:ro
      - ./data/etc/nginx/includes/htpasswd:/etc/nginx/includes/htpasswd.conf:ro
      - ./data/etc/nginx/includes/allowedip:/etc/nginx/includes/allowedip.conf:ro
    environment:
      - TZ=${TZ}
      - SQL_HOST=mariadb
      - SQL_PORT=3306
      - SQL_DATABASE=${SQL_DATABASE}
      - SQL_USERNAME=${SQL_USERNAME}
      - SQL_PASSWORD=${SQL_PASSWORD}
      - API_PREFIX=/
      - API_IGNORETABLES=backends,bestats,sessions
      - API_KEY=some-secure-key
      - API_ALLOW_IP=192.1.0.0/24
      - API_HTTP_AUTH=username:{PLAIN}password
# used for server name, ssl cert
      - API_HOSTNAME=thishost.com
    restart: always
    links:
      - mariadb:mariadb
    dns:
      - ${IPV4_NETWORK:-172.22.1}.254
    ports:
      - 3443:443
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=${SYSCTL_IPV6_DISABLED:-0}
    networks:
      network:
        ipv4_address: ${IPV4_NETWORK:-172.22.1}.202
        aliases:
          - xmysql
